.vscode/
log/
build/doctrees/
build/latex/latexmkjarc
build/latex/latexmkrc
build/latex/target_setter.aux
build/latex/target_setter.log
build/latex/target_setter.out
build/latex/LatinRules.xdy
build/latex/LICRcyr2utf8.xdy
build/latex/LICRlatin2utf8.xdy
build/latex/make.bat
build/latex/Makefile
build/latex/python.ist
build/latex/sphinx.sty
build/latex/sphinx.xdy
build/latex/sphinxhighlight.sty
build/latex/sphinxhowto.cls
build/latex/sphinxlatexadmonitions.sty
build/latex/sphinxlatexcontainers.sty
build/latex/sphinxlatexgraphics.sty
build/latex/sphinxlatexindbibtoc.sty
build/latex/sphinxlatexlists.sty
build/latex/sphinxlatexliterals.sty
build/latex/sphinxlatexnumfig.sty
build/latex/sphinxlatexobjects.sty
build/latex/sphinxlatexshadowbox.sty
build/latex/sphinxlatexstyleheadings.sty
build/latex/sphinxlatexstylepage.sty
build/latex/sphinxlatexstyletext.sty
build/latex/sphinxlatextables.sty
build/latex/sphinxmessages.sty
build/latex/sphinxmanual.cls
build/latex/sphinxoptionsgeometry.sty
build/latex/sphinxoptionshyperref.sty
build/latex/sphinxpackagecyrillic.sty
build/latex/sphinxpackagefootnote.sty
build/latex/target_setter.fdb_latemk
build/latex/target_setter.fls
build/latex/target_setter.idx
build/latex/target_setter.ilg
build/latex/target_setter.ind
build/latex/target_setter.tex
build/latex/target_setter.toc
build/latex/target_setter.pdf
docs/source/
docs/build/doctrees
docs/build/latex/latexmkjarc
docs/build/latex/ros2_architecture.png
docs/build/latex/sphinxlatexfraphincs.sty
docs/build/latex/system_overview.png
docs/build/latex/target_setter.fdb_lateml
docs/build/latex/target_setter.fls
docs/build/latex/target_setter.idx
docs/build/latex/target_setter.ilg
docs/build/latex/target_setter.ind
docs/build/latex/target_setter.tex
docs/build/latex/target_setter.toc
docs/build/latex/latexmkrc
docs/build/latex/target_setter.aux
docs/build/latex/target_setter.log
docs/build/latex/target_setter.out
docs/build/latex/LatinRules.xdy
docs/build/latex/LICRcyr2utf8.xdy
docs/build/latex/make.bat
docs/build/latex/Makefile
docs/build/latex/python.ist
docs/build/latex/sphinx.sty
docs/build/latex/sphinx.xdy
docs/build/latex/sphinxhighlight.sty
docs/build/latex/sphinxhowto.cls
docs/build/latex/sphinxlatexadmonitions.sty
docs/build/latex/sphinxlatexcontainers.sty
docs/build/latex/sphinxlatexgraphics.sty
docs/build/latex/sphinxlatexindbibtoc.sty
docs/build/latex/sphinxlatexlists.sty
docs/build/latex/sphinxlatexliterals.sty
docs/build/latex/sphinxlatexnumfig.sty
docs/build/latex/sphinxlatexobjects.sty
docs/build/latex/sphinxlatexshadowbox.sty
docs/build/latex/sphinxlatexstyleheadings.sty
docs/build/latex/sphinxlatexstylepage.sty
docs/build/latex/sphinxlatexstyletext.sty
docs/build/latex/sphinxlatextables.sty
docs/build/latex/sphinxmessages.sty
docs/build/latex/sphinxmanual.cls
docs/build/latex/sphinxoptionsgeometry.sty
docs/build/latex/sphinxoptionshyperref.sty
docs/build/latex/sphinxpackagecyrillic.sty
docs/build/latex/sphinxpackagefootnote.sty
docs/build/target_setter.fdb_latexml
docs/build/target_setter.fls
docs/build/target_setter.idx
docs/build/target_setter.ilg
docs/build/target_setter.ind
docs/build/target_setter.tex
docs/build/target_setter.toc
docs/make.bat
docs/Makefile
make.bat
Makefile
log/list_2025-12-06_16-13-36.log
docs/build/latex/app_architecture-Page-1.png
formal_report/.~lock.project_report_dclab.odt#
build/latex/target_setter.fdb_latexmk
docs.build.latex/target_setter.fdb_latexmk